doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/isotope.css')
    script(src="/js/jquery-3.1.1.min.js")
    script(src='/js/isotope.pkgd.min.js')
    script(src='js/getdocs.js')
  body
    include header.pug
    block content
    include footer.pug
    script(src="/js/adventure.js")
